name: safdo_crypto_shield
description: Safdo Crypto Shield - Flutter Web
publish_to: 'none'

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.0
  js: ^0.6.7
  provider: ^6.0.5
  flutter_dotenv: ^5.1.0

flutter:
  uses-material-design: true
  assets:
    - assets/logo.png
